<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search your meals</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="../style/style.css" rel="stylesheet">
    <link href="../style/shoppingListStyle.css" rel="stylesheet">
</head>

<body>
    <div class="container" id='vue-app'>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="home.html">Home</a></li>
                    <li><a href='shoppingList.html'>Shopping List</a></li>
                    <li><a href='search.html'>Find Meals</a></li>
                    <li><a onclick='logout()'>Log Out</a></li>
                </ul>
            </div>
        </nav>
        <p id = "ret_message"></p>

        <div id = "list_table_scroll">
            <table v-cloak>
                <tr>
                    <th class="col-xs-1" id = "shoppingList_label">Meal</th>
                    <th class="col-xs-2" id = "shoppingList_ingre">Ingredients</th>
                    <th id = "shoppingList_button">Remove</th>
                </tr>
                <tr v-for="(result, index) in shopping_list">
                    <td id = "shoppingList_label">
                      {{result.description}}
                      <!--
                        <span class="glyphicon glyphicon-minus" aria-hidden="true" v-on:click="decrement(index)"></span>
                        {{result.count}}
                        <span class="glyphicon glyphicon-plus" aria-hidden="true" v-on:click="increment(index)"></span>
                      -->
                    </td>
                    <td id = "shoppingList_ingre">
                      <ul>
                        <li v-for="(ingredient, index) in result.ingredient_array">
                          {{ingredient}}
                        </li>
                      </ul>
                    </td>
                    <td id = "shoppingList_button">
                      <button class="btn btn-primary" v-on:click="remove(index)">Remove</button>
                    </td>
                </tr>
            </table>
        </div>
        <br/>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.2/vue.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
    <script src="../js/shoppingList.min.js"></script>
</body>

</html>
