
table {
	font-size:14px;
	background:#eaebec;
	margin:20px;
	border:#ccc 2px solid;
}

table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}

table tr td {
	
	text-align: center;
	padding-left:20px;

	padding:12px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
#ret_message
{
	text-align: center;
	margin-top: 10px;
	color: white;
	font-size: 15px;
}
#search_table_scroll
{
	height:530px;
	overflow:auto;
}
#searchImages{
	
	width:150px;
	height:150px;
}
#searchCal {
	
	text-align:left;
}
