.container {
    padding-left: 10%;
    padding-right: 45%;
}

.center {
    text-align: center;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 10%;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    padding: 5px;
    margin: 10px 10px 10px;
    color: white;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    background-image: url('../img/bg-2.jpg');
    background-size: cover;                   
    background-repeat: no-repeat;
    background-position: center center;  
    height: 100%;
}

footer {
  margin-top: 20px;
  text-align: center;
}

input[type=text]{
	width: 280px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search_Button{
	padding: 5px 15px;

}

span{
	color:#eaebec;
}
button{
	background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    	
    font-size: 12px;
}


#search-results li{
	margin-bottom: 3px;
	list-style-type: none;
}
table {
	font-size:14px;
	background:#eaebec;
	margin:20px;
	border:#ccc 2px solid;
}

table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}

table tr td {
	
	text-align: center;
	padding-left:20px;

	padding:12px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

#detailPic{
	padding-left:20px;
	width:249px;

}
#FavList {
	
	position: absolute;
	bottom: 63%;
	left: 36%;
}

#FavList th{
	height:30px;
	text-align: center;

}

table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}