.container {
    padding-left: 10%;
    padding-right: 45%;
}

.center {
    text-align: center;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 10%;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    padding: 5px;
    margin: 10px 10px 10px;
    color: white;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    background-image: url('../img/bg-2.jpg');
    background-size: cover;                   
    background-repeat: no-repeat;
    background-position: center center;  
    height: 100%;
}

#incButton{
	padding: 8px 8px;

	
}
#decButton{

	padding: 8px 8px;
}

#mealAmount{
	font-size: 16px;
}

#tableButton{ 
	width: 70px;
	padding: 8px 8px;
}


footer {
  margin-top: 20px;
  text-align: center;
}

span{
	color:#eaebec;
}

button{
	background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    	
    font-size: 12px;
}

#FavList {
	
	position: absolute;
	bottom: 400px;
	left: 500px;
}

#FavList th{
	height:30px;
	text-align: center;
	
}


#mealAmount{
	margin:2px;
	padding:0px;
	display:inline;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 30px;
}

th {
    background-color: #282828 ;
    color: white;
    height: 50px;
    font-size: 14px;
}

td {
    text-align: center;
    height: 70px;
    font-size: 14px;
    color: white;
}

tr:nth-child(even) td { 
    background: #909090; 
}

tr:nth-child(odd) td { 
    background: #B0B0B0; 
}

caption {
    font-size: 250%;
}