#incButton{
	padding: 8px 8px;

	
}
#decButton{

	padding: 8px 8px;
}

#mealAmount{
	font-size: 16px;
}

#tableButton{ 
	width: 70px;
	padding: 8px 8px;
}


footer {
  margin-top: 20px;
  text-align: center;
}

body {
    background-image: url('../img/bg-2.jpg');
    background-repeat: round;
    
}

span{
	color:#eaebec;
}

button{
	background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    	
    font-size: 12px;
}

table {
	width:500px;
	font-size:14px;
	background:#eaebec;
	margin:20px;
	border:#ccc 2px solid;
}

table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 2;
}


table tr td {
	colspan:4px
	text-align: center;
	padding-left:20px;

	padding:12px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}


table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

#FavList {
	
	position: absolute;
	bottom: 400px;
	left: 500px;
}

#FavList th{
	height:30px;
	text-align: center;
	
}


#mealAmount{
	margin:2px;
	padding:0px;
	display:inline;
}